<!DOCTYPE html>
<html>
  <head>
    <title>image.are.na</title>
  </head>
  <body>
    <pre>MIKE INDIA SIERRA ROMEO ECHO ALPHA DELTA INDIA NOVEMBER GOLF
OSCAR FOXTROT
ALPHA
WHISKEY ECHO LIMA LIMA
KILO NOVEMBER OSCAR WHISKEY NOVEMBER
ALPHA ROMEO TANGO WHISKEY OSCAR ROMEO KILO</pre>
  </body>
</html>
